<% layout('layouts/boilerplate') %>
<!-- clusterMap 표시-->
<div id="map" style='width: 100%; height: 300px;'></div>

<h1>All Campgrounds</h1>
<a href="/campgrounds/new">Add Campground</a>

<% for (let campground of campgrounds){ %>
<div class="card" mb-3>
    <div class="row">
        <!-- 12유닛 중 4유닛 차지. 즉 행에서 3분의 1 -->
        <div class="col-md-4">
            <%if(campground.images.length) {%>
            <img class="img-fluid" src="<%= campground.images[0].url %>">
            <% }else {%>
            <!-- 디폴트 이미지 부여 -->
            <img class="img-fluid" alt=""
                src="https://res.cloudinary.com/doo4mczu4/image/upload/v1682681943/YelpCamp/pcyubcxdfxlstxnwihtm.jpg">
            <% } %>
        </div>
        <!-- 3분의 2차지 -->
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <!-- 회색 처리 -->
                    <small class="text-muted"><%= campground.location %></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%= campground.title %></a>
            </div>
        </div>
    </div>
</div>
<% } %>

<script>
    // 엑세스토큰을 ejs파일에서 아래의 JavaScript로 넣어줘야한다.
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    //JavaScript 객체인 정보를 JSON으로 변환. campgrounds는 배열이므로 
    //clusterMap.js에서 사용하는 data 형식에 맞게 features 안에 넣어야 한다.
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>
<!-- 내 페이지에 map을 추가하기 위해 필요한 최소한의 정보로,
    Map class 구성부분을 별도 스크립트로 분리-->
<script src="/javascripts/clusterMap.js"></script>